{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
    <section class="about-me py-5">
        <div class="container">
            <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-primary mb-4">About Me</h2>
                <p class="lead">
                I am a seasoned Backend Developer with <strong>7 years of experience</strong> specializing in creating robust, scalable solutions using <strong>Java, Python,</strong> and <strong>PHP</strong>. My expertise extends to Full Stack development, proficiently using <strong>JavaScript, TypeScript, CSS,</strong> and <strong>HTML</strong> to deliver dynamic and responsive user interfaces.
                </p>
                <p class="mt-3">
                My journey in tech has also embraced cloud technologies, managing high-quality technical implementations on <strong>AWS</strong> and <strong>Google Cloud</strong>. Whether working on <strong>microservices</strong> or <strong>monolithic architectures</strong>, I prioritize <strong>clean code, technical excellence,</strong> and <strong>clean architecture</strong> principles to drive efficient and effective solutions.
                </p>
            </div>
            </div>
        </div>
    </section>
{% endblock %}
