// Primary Color Scheme
$primary: #21295C;
$secondary: #053d57;
$dark: #1B3B6F;       
$light: #1C7293;

// Secondary Color Scheme for Consistency
$info: lighten($primary, 10%);
$danger: lighten($secondary, 10%);
$success: darken($primary, 10%);
$warning: darken($secondary, 10%);

// Background and Link Colors
$body-bg: #9EB3C2;  // Set the background color for the body
$link-color: $primary;  // Use the primary color for all links
$link-hover-color: darken($link-color, 15%);  // Darken the link color on hover for contrast

// Border Colors
$border-color: lighten($dark, 20%);  // Lighter shade of the 'dark' color for borders

// Navbar Customization
$navbar-dark-color: lighten($dark, 10%); // Adjust text color for dark navbar
$navbar-dark-hover-color: lighten($dark, 20%); // Adjust hover color for dark navbar
$navbar-dark-active-color: $primary; // Use primary color for active navbar items

$navbar-light-color: darken($light, 10%); // Adjust text color for light navbar
$navbar-light-hover-color: darken($light, 20%); // Adjust hover color for light navbar
$navbar-light-active-color: $secondary; // Use secondary color for active navbar items

// Custom Navbar Background
$navbar-bg: $dark; // Set navbar background to your dark color for contrast
$navbar-brand-color: $primary; // Use primary color for the navbar brand/logo